* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first part of the page */
.one {
    display: flex;
    flex-direction: column;
    background-image: url(./img/main.jpg);
    background-size: 100% 100%;
    height: 730px;
}

/* top bar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width percentage can shrink */
    width: 50%;
    align-self: center;
    padding: 20px 20px;
    background: #e9a27bc5;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 40px;
    border: 1px groove #f5f2e3;
    border-top: 0px;
}

/* logo type */
.header div {
    font-size: 35px;
    font-weight: 900;
    font-family: monaco, monospace;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: line-through wavy 1px #2ECC71;
    
}

ul {
    list-style-type: none;
}

/* links in the first bar */
.bar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* buttons in header */
.header-button {
    background: #2ECC71;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    transition-duration: 0.4s;
    font-weight: 900;
    color: white;
    box-shadow: #e9a27bda 8px 8px;
    cursor: pointer;
}

/* hovering over header buttons */
.header-button:hover {
    background-color: white;
    color: black;
}

/* The welcoming on the first page */
.welcoming {
    background-color: #f5f2e38a;
    align-self: center;
    padding: 55px 45px;
    border-radius: 25px;
    border: 5px ridge #943628c0;
    font-size: 35px;
    font-family: "Lucida Handwriting", Cursive;
    color: #191608;
    font-weight: 500;
}

/* SECOND PART OF THE PAGE */
.two {
    background-color: #95ccd575;
    height: 600px;
    /* display: flex; */
    text-align: center;
    padding-top: 50px;
    border-top: 8px groove #778783;
    border-bottom: 8px groove #778783;
}

/* heading on second part of page */
.two h1 {
    margin-bottom: 50px;
    font-family: Verdana, Sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-decoration: rgba(255, 166, 0, 0.342) underline;
    font-style: italic;
}

/* Container for images with text and styling */
.image-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* img styling in container */
.image-container img {
    width: 250px;
    height: 250px;
    border: 7px groove #2b3579;
    border-radius: 20px;
}

/* text decoration under images */
.img-text {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 300;
    font-family: Helvetica;
    font-style: oblique;
}

/* THIRD PART OF THE PAGE */


/* styling */
.three {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* make background image not move when scroling */
    background-image: url(./img/3rd-pg-background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* quoute container */
.blockquote {
    width: 500px;
}

/* quoute text styling */
.blockquote-text {
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-size: 2em;
    color: white;
    text-shadow: 0 0 2px black;
}

/* icon before the quote */
.quote::before {
    content: "\201c";
    font-size: 100px;
    color: #0f0095;
    display: block;
    margin-bottom: -40px;
}


/* quote credit styling */
.blockquote-credit {
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

/* dash before quote credit */
.blockquote-credit::before {
    content: "\2014\0020";
}

/* FOURTH PART OF THE PAGE */

.four {
    height: 250px;
    background-color: #95ccd575;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container for text and button */
.sign-up-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #478527;
    padding: 30px 90px;
    border-radius: 5px;
    flex:1;
    margin: 0 150px;
    font-family: "Arial Narrow", sans-serif;
}

/* sign up button */
.sign-up-container button {
    color: white;
    padding: 8px 25px;
    background-color: #478527;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.sign-up-container button:hover {
    background-color: white;
    color: black;
}

/* sign up text */
.sign-up-text {
    font-size: 27px;
    color: white;
    font-weight: 700;
    
}

.little-text {
    font-size: 17px;
    font-weight: normal;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #e9a17b;
    color: white;
    letter-spacing: 7px;
}